In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
zip_file_path = 'train.csv.zip'

# with ZipFile(zip_file_path) as z:
#     with z.open('train.csv') as f:
#         df = pd.read_csv(f, parse_dates=['pickup_datetime'])

with ZipFile(zip_file_path) as z:
    with z.open('train.csv') as f:
        df = pd.read_csv(f, parse_dates=['pickup_datetime'], nrows=1000000)

In [3]:
df.head(20)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45+00:00,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00+00:00,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00+00:00,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00+00:00,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00+00:00,-73.980658,40.733873,-73.991540,40.758138,2
10,2012-04-08 07:30:50.0000002,5.3,2012-04-08 07:30:50+00:00,-73.996335,40.737142,-73.980721,40.733559,1
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00+00:00,0.000000,0.000000,0.000000,0.000000,3
12,2009-11-06 01:04:03.0000002,4.1,2009-11-06 01:04:03+00:00,-73.991601,40.744712,-73.983081,40.744682,2
13,2013-07-02 19:54:00.000000232,7.0,2013-07-02 19:54:00+00:00,-74.005360,40.728867,-74.008913,40.710907,1
14,2011-04-05 17:11:05.0000001,7.7,2011-04-05 17:11:05+00:00,-74.001821,40.737547,-73.998060,40.722788,2
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00+00:00,0.000000,0.000000,0.000000,0.000000,1
16,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00+00:00,-73.986430,40.760465,-73.988990,40.737075,1
17,2009-07-22 16:08:00.000000163,5.3,2009-07-22 16:08:00+00:00,-73.981060,40.737690,-73.994177,40.728412,1
18,2010-07-07 14:52:00.00000044,5.3,2010-07-07 14:52:00+00:00,-73.969505,40.784843,-73.958732,40.783357,1
19,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22+00:00,-73.979815,40.751902,-73.979446,40.755481,1

In [4]:
new_df=df

In [5]:
new_df.head(20)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45+00:00,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00+00:00,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00+00:00,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00+00:00,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00+00:00,-73.980658,40.733873,-73.991540,40.758138,2
10,2012-04-08 07:30:50.0000002,5.3,2012-04-08 07:30:50+00:00,-73.996335,40.737142,-73.980721,40.733559,1
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00+00:00,0.000000,0.000000,0.000000,0.000000,3
12,2009-11-06 01:04:03.0000002,4.1,2009-11-06 01:04:03+00:00,-73.991601,40.744712,-73.983081,40.744682,2
13,2013-07-02 19:54:00.000000232,7.0,2013-07-02 19:54:00+00:00,-74.005360,40.728867,-74.008913,40.710907,1
14,2011-04-05 17:11:05.0000001,7.7,2011-04-05 17:11:05+00:00,-74.001821,40.737547,-73.998060,40.722788,2
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00+00:00,0.000000,0.000000,0.000000,0.000000,1
16,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00+00:00,-73.986430,40.760465,-73.988990,40.737075,1
17,2009-07-22 16:08:00.000000163,5.3,2009-07-22 16:08:00+00:00,-73.981060,40.737690,-73.994177,40.728412,1
18,2010-07-07 14:52:00.00000044,5.3,2010-07-07 14:52:00+00:00,-73.969505,40.784843,-73.958732,40.783357,1
19,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22+00:00,-73.979815,40.751902,-73.979446,40.755481,1

In [6]:
print(f"Initial number of rows and columns: {new_df.shape}")
print(f"Columns: {new_df.columns}")

Initial number of rows and columns: (1000000, 8)
Columns: Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

Checking and then dropping Null values

In [7]:
print("Missing values per column:\n", new_df.isnull().sum())

Missing values per column:
 key                   0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    10
dropoff_latitude     10
passenger_count       0
dtype: int64

In [8]:
print('Original size: %d' % len(new_df))
new_df = new_df.dropna(how = 'any', axis = 'rows')
print('New size: %d' % len(new_df))

Original size: 1000000
New size: 999990

Checking duplicates

In [9]:
duplicates = new_df.duplicated()
print('Number of duplicate rows:', duplicates.sum())

Number of duplicate rows: 0

Extracting the rows with fare<0, and then dropping them

In [10]:
negative_fares = new_df[new_df['fare_amount'] < 0]
if not negative_fares.empty:
    print("Negative fare amounts found:\n", negative_fares)
else:
    print("No negative fare amounts found.")

print(new_df.head())

Negative fare amounts found:
                                  key  fare_amount           pickup_datetime  \
2039     2010-03-09 23:37:10.0000005        -2.90 2010-03-09 23:37:10+00:00
2486     2015-03-22 05:14:27.0000001        -2.50 2015-03-22 05:14:27+00:00
13032    2013-08-30 08:57:10.0000002        -3.00 2013-08-30 08:57:10+00:00
28839    2013-08-11 13:39:10.0000001        -2.50 2013-08-11 13:39:10+00:00
36722    2015-04-30 15:19:45.0000003        -2.50 2015-04-30 15:19:45+00:00
42337    2015-03-09 10:29:46.0000004        -5.00 2015-03-09 10:29:46+00:00
56748    2015-06-26 01:13:18.0000002        -5.00 2015-06-26 01:13:18+00:00
58937    2010-02-19 23:47:10.0000002       -44.90 2010-02-19 23:47:10+00:00
97838    2015-06-07 02:54:14.0000004        -3.00 2015-06-07 02:54:14+00:00
102938   2010-02-10 12:33:10.0000004        -2.90 2010-02-10 12:33:10+00:00
165147   2015-05-31 10:23:50.0000003        -2.50 2015-05-31 10:23:50+00:00
179311   2015-04-21 22:45:11.0000002        -3.00 2015-04-21 22:45:11+00:00
182341   2015-02-10 01:34:08.0000002        -5.00 2015-02-10 01:34:08+00:00
288960   2015-02-13 00:36:36.0000002        -4.50 2015-02-13 00:36:36+00:00
298412   2010-03-12 12:17:10.0000001        -6.50 2010-03-12 12:17:10+00:00
301356   2015-03-28 01:42:18.0000008        -3.00 2015-03-28 01:42:18+00:00
323637   2010-03-13 00:10:10.0000005        -6.50 2010-03-13 00:10:10+00:00
399785   2015-03-28 09:50:44.0000004        -2.50 2015-03-28 09:50:44+00:00
427602   2010-03-14 14:07:10.0000004       -18.10 2010-03-14 14:07:10+00:00
443469   2015-01-17 19:13:41.0000006        -2.50 2015-01-17 19:13:41+00:00
481419   2015-02-18 07:22:53.0000005        -5.00 2015-02-18 07:22:53+00:00
512494   2015-04-19 15:57:05.0000007       -20.00 2015-04-19 15:57:05+00:00
519532   2015-03-10 23:26:19.0000004        -2.50 2015-03-10 23:26:19+00:00
534751   2010-02-08 09:04:10.0000003       -29.87 2010-02-08 09:04:10+00:00
549210   2015-06-19 03:35:46.0000003        -2.50 2015-06-19 03:35:46+00:00
577725   2015-01-01 04:35:09.0000004        -6.50 2015-01-01 04:35:09+00:00
605427   2015-02-26 15:12:43.0000006        -2.50 2015-02-26 15:12:43+00:00
698287   2015-01-11 14:34:09.0000004        -2.50 2015-01-11 14:34:09+00:00
738404   2010-03-09 18:18:10.0000006        -2.50 2010-03-09 18:18:10+00:00
740842   2015-01-14 15:57:46.0000004        -2.50 2015-01-14 15:57:46+00:00
743726   2010-03-18 14:04:10.0000001        -2.50 2010-03-18 14:04:10+00:00
748552   2013-08-29 11:51:10.0000004        -3.00 2013-08-29 11:51:10+00:00
857263  2015-04-03 17:59:17.00000011        -5.00 2015-04-03 17:59:17+00:00
857721   2010-02-14 15:46:10.0000001        -6.50 2010-02-14 15:46:10+00:00
878023   2015-04-18 18:02:34.0000004        -2.50 2015-04-18 18:02:34+00:00
888596   2015-04-30 00:41:21.0000002        -3.00 2015-04-30 00:41:21+00:00
896067   2015-01-15 17:33:24.0000001        -2.50 2015-01-15 17:33:24+00:00
963989   2010-03-20 20:47:10.0000007        -2.50 2010-03-20 20:47:10+00:00

        pickup_longitude  pickup_latitude  dropoff_longitude  \
2039          -73.789450        40.643498         -73.788665
2486          -74.000031        40.720631         -73.999809
13032         -73.995062        40.740755         -73.995885
28839         -73.785260        40.648442           0.000000
36722         -73.952187        40.790112         -73.950043
42337         -73.990974        40.755985         -73.980820
56748         -73.979797        40.743240         -73.981216
58937         -73.871120        40.773902         -73.676533
97838         -73.913246        40.766212         -73.914963
102938        -73.970775        40.783425         -73.973443
165147        -73.982162        40.773621         -73.982094
179311        -73.944504        40.791683         -73.945160
182341        -73.990974        40.750374         -73.982193
288960        -74.006142        40.740425         -74.009827
298412        -73.989493        40.730085         -73.975762
301356        -74.004997        40.730244         -74.006699
323637        -73.984355        40.728967         -73.966578
399785        -73.964104        40.773609         -73.964104
427602        -73.958278        40.760293         -74.010582
443469        -73.956787        40.745770         -73.956757
481419        -73.980362        40.765751         -73.988449
512494          0.000000         0.000000           0.000000
519532        -73.971680        40.757504         -73.971680
534751        -73.863158        40.769440         -73.975303
549210        -73.994331        40.717243         -73.994370
577725        -73.993660        40.746986         -73.980347
605427        -73.970779        40.764351         -73.971466
698287        -73.985229        40.735886         -73.985428
738404        -73.885183        40.772840         -73.885178
740842        -73.783615        40.648655           0.000000
743726        -73.958782        40.815268         -73.958782
748552        -73.984460        40.759835         -73.985620
857263        -73.979301        40.739780         -73.988312
857721        -73.981337        40.756932         -73.980987
878023        -73.954292        40.779003           0.000000
888596        -73.937561        40.758141         -73.938042
896067        -73.982567        40.739799         -73.982567
963989        -73.991978        40.724133         -73.991502

        dropoff_latitude  passenger_count
2039           40.641952                1
2486           40.720539                1
13032          40.741357                4
28839           0.000000                1
36722          40.792839                1
42337          40.759869                1
56748          40.737240                6
58937          40.786890                1
97838          40.764065                5
102938         40.779775                1
165147         40.773811                2
179311         40.795979                1
182341         40.757858                3
288960         40.738804                1
298412         40.749307                1
301356         40.730198                1
323637         40.754877                1
399785         40.773613                1
427602         40.711573                3
443469         40.744591                1
481419         40.770851                1
512494          0.000000                5
519532         40.757504                1
534751         40.749783                1
549210         40.717247                1
577725         40.742802                1
605427         40.764503                1
698287         40.735535                1
738404         40.772838                1
740842          0.000000                1
743726         40.815268                1
748552         40.757950                1
857263         40.731152                1
857721         40.743715                3
878023          0.000000                1
888596         40.757172                1
896067         40.739799                2
963989         40.724037                2
                             key  fare_amount           pickup_datetime  \
0    2009-06-15 17:26:21.0000001          4.5 2009-06-15 17:26:21+00:00
1    2010-01-05 16:52:16.0000002         16.9 2010-01-05 16:52:16+00:00
2   2011-08-18 00:35:00.00000049          5.7 2011-08-18 00:35:00+00:00
3    2012-04-21 04:30:42.0000001          7.7 2012-04-21 04:30:42+00:00
4  2010-03-09 07:51:00.000000135          5.3 2010-03-09 07:51:00+00:00

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
0        -73.844311        40.721319         -73.841610         40.712278
1        -74.016048        40.711303         -73.979268         40.782004
2        -73.982738        40.761270         -73.991242         40.750562
3        -73.987130        40.733143         -73.991567         40.758092
4        -73.968095        40.768008         -73.956655         40.783762

   passenger_count
0                1
1                1
2                2
3                1
4                1

In [11]:
print('Original size: %d' % len(new_df))
new_df = new_df[new_df.fare_amount >= 0]
print('New size: %d' % len(new_df))

Original size: 999990
New size: 999952

Dropping the rows with passenger count <0 and >6

In [12]:
over_six_passengers_df = df[df.passenger_count > 6]
print(over_six_passengers_df)

                                  key  fare_amount           pickup_datetime  \
929022  2009-07-30 11:54:00.000000193          3.3 2009-07-30 11:54:00+00:00

        pickup_longitude  pickup_latitude  dropoff_longitude  \
929022               0.0              0.0                0.0

        dropoff_latitude  passenger_count
929022               0.0              208

In [13]:
lessthan0 = df[df.passenger_count < 0]
print(lessthan0)

Empty DataFrame
Columns: [key, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [14]:
print('Original size: %d' % len(new_df))
new_df = new_df.drop(new_df[new_df['passenger_count']>6].index, axis = 'rows')
new_df = new_df.drop(new_df[new_df['passenger_count']<0].index, axis = 'rows')
print('New size: %d' % len(new_df))

Original size: 999952
New size: 999951

Drop out-of-range latitude values, 
Drop out-of-range longitude values

In [15]:
print('Original size: %d' % len(new_df))
new_df = new_df.drop(new_df[(new_df['pickup_latitude'] < -90) | (new_df['pickup_latitude'] > 90) | 
                (new_df['dropoff_latitude'] < -90) | (new_df['dropoff_latitude'] > 90)].index, axis='rows')

new_df = new_df.drop(new_df[(new_df['pickup_longitude'] < -180) | (new_df['pickup_longitude'] > 180) | 
                (new_df['dropoff_longitude'] < -180) | (new_df['dropoff_longitude'] > 180)].index, axis='rows')

print('New size: %d' % len(new_df))

Original size: 999951

New size: 999911

# Trip Distance
Calculate the distance between pickup and dropoff points using the Haversine formula.

In [16]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  
    phi1 = np.radians(lat1)
    phi2 = np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)
    a = np.sin(delta_phi / 2) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c 
    return distance

new_df['trip_distance_km'] = new_df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], 
                                                        row['dropoff_latitude'], row['dropoff_longitude']), axis=1)
print(new_df[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', 'trip_distance_km']])

        pickup_latitude  pickup_longitude  dropoff_latitude  \
0             40.721319        -73.844311         40.712278
1             40.711303        -74.016048         40.782004
2             40.761270        -73.982738         40.750562
3             40.733143        -73.987130         40.758092
4             40.768008        -73.968095         40.783762
...                 ...               ...               ...
999995        40.785630        -73.976676         40.775114
999996        40.671385        -73.992103         40.671385
999997        40.751135        -73.978423         40.762197
999998        40.759482        -73.980317         40.743122
999999        40.741598        -74.006635         40.745702

        dropoff_longitude  trip_distance_km
0              -73.841610          1.030764
1              -73.979268          8.450134
2              -73.991242          1.389525
3              -73.991567          2.799270
4              -73.956655          1.999157
...                   ...               ...
999995         -73.959196          1.879763
999996         -73.992103          0.000000
999997         -73.993397          1.761741
999998         -73.976832          1.842683
999999         -73.999450          0.758051

[999911 rows x 5 columns]

Checking any negative trip distance

In [17]:
negative_trip_distance = new_df[new_df['trip_distance_km'] < 0]
if not negative_trip_distance.empty:
    print("Negative trip distance found:\n", negative_trip_distance)
else:
    print("No negative trip distance found.")

No negative trip distance found.

# Datetime Feature Extraction
Creating new columns for the year, month, day, day of the week, and hour from the pickup_datetime field, which can be useful for detecting patterns and trends over time.

In [18]:
# new_df['pickup_datetime'] = pd.to_datetime(new_df['pickup_datetime'])

# new_df['pickup_year'] = new_df['pickup_datetime'].dt.year
# new_df['pickup_month'] = new_df['pickup_datetime'].dt.month
# new_df['pickup_day'] = new_df['pickup_datetime'].dt.day
# new_df['pickup_dayofweek'] = new_df['pickup_datetime'].dt.dayofweek
# new_df['pickup_hour'] = new_df['pickup_datetime'].dt.hour
# new_df['is_weekend'] = new_df['pickup_dayofweek'].apply(lambda x: 1 if x >= 5 else 0)

# print(new_df[['pickup_datetime', 'pickup_year', 'pickup_month', 'pickup_day', 'pickup_dayofweek', 'pickup_hour', 'is_weekend']])

new_df['pickup_datetime'] = pd.to_datetime(new_df['pickup_datetime'])

new_df['pickup_year'] = new_df['pickup_datetime'].dt.year
new_df['pickup_month'] = new_df['pickup_datetime'].dt.month
new_df['pickup_day'] = new_df['pickup_datetime'].dt.day
new_df['pickup_dayofweek'] = new_df['pickup_datetime'].dt.day_name() 
new_df['pickup_hour'] = new_df['pickup_datetime'].dt.hour
new_df['is_weekend'] = new_df['pickup_dayofweek'].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)
new_df['fare_per_km'] = new_df['fare_amount'] / new_df['trip_distance_km']


print(new_df[['pickup_datetime', 'pickup_year', 'pickup_month', 'pickup_day', 'pickup_dayofweek', 'pickup_hour', 'is_weekend', 'fare_per_km']])

                 pickup_datetime  pickup_year  pickup_month  pickup_day  \
0      2009-06-15 17:26:21+00:00         2009             6          15
1      2010-01-05 16:52:16+00:00         2010             1           5
2      2011-08-18 00:35:00+00:00         2011             8          18
3      2012-04-21 04:30:42+00:00         2012             4          21
4      2010-03-09 07:51:00+00:00         2010             3           9
...                          ...          ...           ...         ...
999995 2014-09-13 21:44:38+00:00         2014             9          13
999996 2010-09-20 14:50:37+00:00         2010             9          20
999997 2013-04-26 14:03:00+00:00         2013             4          26
999998 2011-07-08 00:29:00+00:00         2011             7           8
999999 2009-12-31 14:30:00+00:00         2009            12          31

       pickup_dayofweek  pickup_hour  is_weekend  fare_per_km
0                Monday           17           0     4.365694
1               Tuesday           16           0     1.999968
2              Thursday            0           0     4.102121
3              Saturday            4           1     2.750717
4               Tuesday            7           0     2.651118
...                 ...          ...         ...          ...
999995         Saturday           21           1     3.723874
999996           Monday           14           0          inf
999997           Friday           14           0     5.960014
999998           Friday            0           0     3.744539
999999         Thursday           14           0     5.408604

[999911 rows x 8 columns]

In [19]:
new_df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance_km,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_hour,is_weekend,fare_per_km
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,1.030764,2009,6,15,Monday,17,0,4.365694
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,8.450134,2010,1,5,Tuesday,16,0,1.999968
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,1.389525,2011,8,18,Thursday,0,0,4.102121
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,2.799270,2012,4,21,Saturday,4,1,2.750717
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1.999157,2010,3,9,Tuesday,7,0,2.651118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2014-09-13 21:44:38.0000001,7.0,2014-09-13 21:44:38+00:00,-73.976676,40.785630,-73.959196,40.775114,1,1.879763,2014,9,13,Saturday,21,1,3.723874
999996,2010-09-20 14:50:37.0000002,7.3,2010-09-20 14:50:37+00:00,-73.992103,40.671385,-73.992103,40.671385,2,0.000000,2010,9,20,Monday,14,0,inf
999997,2013-04-26 14:03:00.000000118,10.5,2013-04-26 14:03:00+00:00,-73.978423,40.751135,-73.993397,40.762197,5,1.761741,2013,4,26,Friday,14,0,5.960014
999998,2011-07-08 00:29:00.00000099,6.9,2011-07-08 00:29:00+00:00,-73.980317,40.759482,-73.976832,40.743122,1,1.842683,2011,7,8,Friday,0,0,3.744539
999999,2009-12-31 14:30:00.00000021,4.1,2009-12-31 14:30:00+00:00,-74.006635,40.741598,-73.999450,40.745702,1,0.758051,2009,12,31,Thursday,14,0,5.408604

# One-hot encoding

Applying one-hot encoding on pickp_year, pickup_dayfoweek

In [20]:
columns_to_encode = ['pickup_dayofweek', 'pickup_month', 'pickup_hour']

df_encoded = pd.get_dummies(new_df, columns=columns_to_encode)
df_encoded = df_encoded.applymap(lambda x: 1 if x == True else (0 if x == False else x))

In [21]:
df_encoded.head(5)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance_km,pickup_year,...,pickup_hour_14,pickup_hour_15,pickup_hour_16,pickup_hour_17,pickup_hour_18,pickup_hour_19,pickup_hour_20,pickup_hour_21,pickup_hour_22,pickup_hour_23
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,1.030764,2009,...,0,0,0,1,0,0,0,0,0,0
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,8.450134,2010,...,0,0,1,0,0,0,0,0,0,0
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,1.389525,2011,...,0,0,0,0,0,0,0,0,0,0
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,2.799270,2012,...,0,0,0,0,0,0,0,0,0,0
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1.999157,2010,...,0,0,0,0,0,0,0,0,0,0

# Handling Outliers

In [22]:
import pandas as pd

# Outlier bounds for longitude and latitude (based on NYC)
longitude_min, longitude_max = -74.26, -73.70
latitude_min, latitude_max = 40.49, 40.92

# Detecting outliers in pickup and dropoff coordinates
outliers_geo = new_df[
    (new_df['pickup_longitude'] < longitude_min) | (new_df['pickup_longitude'] > longitude_max) |
    (new_df['pickup_latitude'] < latitude_min) | (new_df['pickup_latitude'] > latitude_max) |
    (new_df['dropoff_longitude'] < longitude_min) | (new_df['dropoff_longitude'] > longitude_max) |
    (new_df['dropoff_latitude'] < latitude_min) | (new_df['dropoff_latitude'] > latitude_max)
]

# Remove outliers based on geographic coordinates
new_df_no_geo_outliers = new_df.drop(outliers_geo.index)

Q1_distance = new_df_no_geo_outliers['trip_distance_km'].quantile(0.25)
Q3_distance = new_df_no_geo_outliers['trip_distance_km'].quantile(0.75)
IQR_distance = Q3_distance - Q1_distance

lower_bound_distance = Q1_distance - 1.5 * IQR_distance
upper_bound_distance = Q3_distance + 1.5 * IQR_distance

outliers_distance = new_df_no_geo_outliers[
    (new_df_no_geo_outliers['trip_distance_km'] < lower_bound_distance) | 
    (new_df_no_geo_outliers['trip_distance_km'] > upper_bound_distance)
]

new_df_final_no_outliers = new_df_no_geo_outliers.drop(outliers_distance.index)

In [23]:
print(f"Column: {'trip_distance_km'}, Lower Bound: {lower_bound_distance}, Upper Bound: {upper_bound_distance}")
# return ('trip_distance_km' >= lower_bound_distance) & ('trip_distance_km' <= upper_bound_distance)

Column: trip_distance_km, Lower Bound: -2.733573258179176, Upper Bound: 7.901128252810093

In [24]:
# Check for negative values in the 'trip_distance_km' column
negative_trip_distances = df_encoded[df_encoded['trip_distance_km'] < 0]

# Display the rows with negative trip distances
if not negative_trip_distances.empty:
    print(f"Found {len(negative_trip_distances)} rows with negative trip distances.")
    # tools.display_dataframe_to_user(name="Negative Trip Distances", dataframe=negative_trip_distances)
else:
    print("No negative trip distances found.")

No negative trip distances found.

In [25]:

Q1_fare_per_km = new_df['fare_per_km'].quantile(0.25)
Q3_fare_per_km = new_df['fare_per_km'].quantile(0.75)
IQR_fare_per_km = Q3_fare_per_km - Q1_fare_per_km

lower_bound_fare = Q1_distance - 1.5 * IQR_fare_per_km
upper_bound_fare = Q3_distance + 1.5 * IQR_fare_per_km

print(f"Q1 (25th percentile): {Q1_fare_per_km}")
print(f"Q3 (75th percentile): {Q3_fare_per_km}")
print(f"IQR: {IQR_fare_per_km}")
print(f"Lower bound for outliers: {lower_bound_fare}")
print(f"Upper bound for outliers: {upper_bound_fare}")

Q1 (25th percentile): 2.9873119102388896
Q3 (75th percentile): 5.213052725960839
IQR: 2.2257408157219496
Lower bound for outliers: -2.0841714151411246
Upper bound for outliers: 7.251726409772042

In [26]:
print('Original size: %d' % len(new_df))

Original size: 999911

In [27]:
new_df.head(20)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance_km,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_hour,is_weekend,fare_per_km
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1,1.030764,2009,6,15,Monday,17,0,4.365694
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1,8.450134,2010,1,5,Tuesday,16,0,1.999968
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2,1.389525,2011,8,18,Thursday,0,0,4.102121
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1,2.799270,2012,4,21,Saturday,4,1,2.750717
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1,1.999157,2010,3,9,Tuesday,7,0,2.651118
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45+00:00,-74.000964,40.731630,-73.972892,40.758233,1,3.787239,2011,1,6,Thursday,9,0,3.194940
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00+00:00,-73.980002,40.751662,-73.973802,40.764842,1,1.555807,2012,11,20,Tuesday,20,0,4.820650
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00+00:00,-73.951300,40.774138,-73.990095,40.751048,1,4.155444,2012,1,4,Wednesday,17,0,3.970695
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00+00:00,-74.006462,40.726713,-73.993078,40.731628,1,1.253232,2012,12,3,Monday,13,0,7.181434
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00+00:00,-73.980658,40.733873,-73.991540,40.758138,2,2.849627,2009,9,2,Wednesday,1,0,3.123216
10,2012-04-08 07:30:50.0000002,5.3,2012-04-08 07:30:50+00:00,-73.996335,40.737142,-73.980721,40.733559,1,1.374577,2012,4,8,Sunday,7,1,3.855732
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00+00:00,0.000000,0.000000,0.000000,0.000000,3,0.000000,2012,12,24,Monday,11,0,inf
12,2009-11-06 01:04:03.0000002,4.1,2009-11-06 01:04:03+00:00,-73.991601,40.744712,-73.983081,40.744682,2,0.717767,2009,11,6,Friday,1,0,5.712156
13,2013-07-02 19:54:00.000000232,7.0,2013-07-02 19:54:00+00:00,-74.005360,40.728867,-74.008913,40.710907,1,2.019384,2013,7,2,Tuesday,19,0,3.466404
14,2011-04-05 17:11:05.0000001,7.7,2011-04-05 17:11:05+00:00,-74.001821,40.737547,-73.998060,40.722788,2,1.671445,2011,4,5,Tuesday,17,0,4.606793
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00+00:00,0.000000,0.000000,0.000000,0.000000,1,0.000000,2013,11,23,Saturday,12,1,inf
16,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00+00:00,-73.986430,40.760465,-73.988990,40.737075,1,2.609774,2014,2,19,Wednesday,7,0,4.789686
17,2009-07-22 16:08:00.000000163,5.3,2009-07-22 16:08:00+00:00,-73.981060,40.737690,-73.994177,40.728412,1,1.511904,2009,7,22,Wednesday,16,0,3.505513
18,2010-07-07 14:52:00.00000044,5.3,2010-07-07 14:52:00+00:00,-73.969505,40.784843,-73.958732,40.783357,1,0.921952,2010,7,7,Wednesday,14,0,5.748674
19,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22+00:00,-73.979815,40.751902,-73.979446,40.755481,1,0.399179,2014,12,6,Saturday,20,1,10.020578

In [28]:
new_df['distance_band'] = pd.cut(new_df['trip_distance_km'], bins=[0, 3, 15, np.inf], labels=['short', 'medium', 'long'])

def remove_outliers_by_band(new_df, column, group_col):
    def iqr_outliers(group):
        Q1 = group[column].quantile(0.25)
        Q3 = group[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        return group[(group[column] >= lower_bound) & (group[column] <= upper_bound)]
    
    return new_df.groupby(group_col, group_keys=False).apply(iqr_outliers)

# Step 1: Remove outliers based on fare amount within distance bands
df_no_outliers_by_distance = remove_outliers_by_band(new_df, 'fare_amount', 'distance_band')

# Step 2: Remove outliers based on fare amount within passenger count groups
df_no_outliers_by_passenger = remove_outliers_by_band(df_no_outliers_by_distance, 'fare_amount', 'passenger_count')

# Step 3: Calculate fare per kilometer and filter out unreasonable values (based on IQR bounds for fare_per_km)
df_no_outliers_by_passenger['fare_per_km'] = df_no_outliers_by_passenger['fare_amount'] / df_no_outliers_by_passenger['trip_distance_km']

lower_bound_fare_per_km = 0  # Fare per km cannot be negative
upper_bound_fare_per_km = 7.251726409772042  # Upper bound from IQR calculation

# Step 4: Filter the dataset based on the fare_per_km bounds
df_fare_per_km_reasonable = df_no_outliers_by_passenger[(df_no_outliers_by_passenger['fare_per_km'] >= lower_bound_fare_per_km) & 
                                                        (df_no_outliers_by_passenger['fare_per_km'] <= upper_bound_fare_per_km)]

# Step 5: Remove outliers based on trip distance (based on IQR bounds for trip distance)
lower_bound_trip_distance = 0  # Trip distance cannot be negative
upper_bound_trip_distance = 7.901128252810093  # Upper bound from IQR calculation

df_final_cleaned = df_fare_per_km_reasonable[(df_fare_per_km_reasonable['trip_distance_km'] >= lower_bound_trip_distance) &
                                             (df_fare_per_km_reasonable['trip_distance_km'] <= upper_bound_trip_distance)]

print(df_final_cleaned.head())

                              key  fare_amount           pickup_datetime  \
566   2012-01-28 21:33:18.0000002          4.9 2012-01-28 21:33:18+00:00
678   2012-02-27 07:24:20.0000003          6.5 2012-02-27 07:24:20+00:00
1935  2011-10-23 11:09:28.0000001         10.1 2011-10-23 11:09:28+00:00
2200  2011-05-23 16:54:19.0000001          8.1 2011-05-23 16:54:19+00:00
2425  2011-11-25 22:47:33.0000001          8.9 2011-11-25 22:47:33+00:00

      pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
566         -73.955322        40.782840         -73.955797         40.773673
678         -73.983397        40.738183         -73.971395         40.758023
1935        -73.971400        40.795000         -73.967900         40.768600
2200        -73.988008        40.748303         -74.005185         40.738733
2425        -73.999900        40.738600         -73.971800         40.746300

      passenger_count  trip_distance_km  pickup_year  pickup_month  \
566                 0          1.020108         2012             1
678                 0          2.426752         2012             2
1935                0          2.950300         2011            10
2200                0          1.796230         2011             5
2425                0          2.517414         2011            11

      pickup_day pickup_dayofweek  pickup_hour  is_weekend  fare_per_km  \
566           28         Saturday           21           1     4.803412
678           27           Monday            7           0     2.678478
1935          23           Sunday           11           1     3.423380
2200          23           Monday           16           0     4.509444
2425          25           Friday           22           0     3.535374

     distance_band
566          short
678          short
1935         short
2200         short
2425         short

In [29]:
print('New size: %d' % len(df_final_cleaned))

New size: 778531

In [31]:
import pandas as pd
import zipfile

with zipfile.ZipFile('preprocessed.csv.zip', 'w') as zipf:
    zipf.writestr('preprocessed_data.csv', df_final_cleaned.to_csv(index=False))

print('Final cleaned data saved and compressed into preprocessed_data.zip')

Final cleaned data saved and compressed into preprocessed_data_1m.zip

In [ ]:
# import pandas as pd
# import zipfile

# with zipfile.ZipFile('preprocessed.csv_1m.zip', 'w') as zipf:
#     zipf.writestr('preprocessed_data_1m.csv', df_final_cleaned.to_csv(index=False))

# print('Final cleaned data saved and compressed into preprocessed_data_1m.zip')